<div class="left-content col-lg-12">
    <div class="row form-space">
        <div class="col-lg-12">
            <div class="content-space">
                <table>
                    <tr>
                        <td>
                            <label class="pricipal">Total Gold (in Grams)</label>
                        </td>
                        <td>
                            <div class="editor-space">
                                <ejs-numerictextbox id="principal_txt" [(value)]="principalValue" [min]="principalNumMinValue" [max]="principalNumMaxValue" [step]="principalNumStep" [format]="principalNumFormat" [width]="principalNumWidth" (change)="principalNumChange($event)"></ejs-numerictextbox>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row form-space">
        <div class="col-lg-12">
            <div class="content-space">
                <table>
                    <tr>
                        <td>
                            <label class="loantenure">Loan Term</label>
                            <ul class="tenure-value" style="float: left;">
                                <li>
                                     <ejs-radiobutton id="radio1" label="6 Months" name="tenure" value="month" (change)="monthChanged()"></ejs-radiobutton>
                                </li>
                                <li>
                                    <ejs-radiobutton id="radio2" label="12 Months" name="tenure" value="year" checked="true" [checked]="yearTenure" (change)="yearChanged()"></ejs-radiobutton>
                                </li>
                            </ul>
                        </td>
                        
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row form-space">
        <div class="col-lg-12">
            <div class="content-space">
                <table>
                    <tr>
                        <td>
                            <label class="interestrate">Interest Rate</label>
                        </td>
                        <td>
                            <div class="editor-space">
                                <ejs-numerictextbox id="interest_txt" [enabled]="false" [(value)]="interestValue"  [format]="interestNumFormat" [width]="interestNumWidth" ></ejs-numerictextbox>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>     
        </div>
    </div>
    <div class="row form-space">
        <div class="col-lg-12">
                <div class="content-space">
                <div style="text-align: center">

                <button style="color: white; background-color:  green; width: 150px; height: 60px;" routerLink="/kyc"> Appy for Gold Loan</button>
                </div>
                </div>
        </div>
    </div>
</div>